<div>
  <h1>Mot de passe modifié, {{name}}</h1>
  <p>
    Le mot de passe de votre compte Gift Moments a été modifié avec succès.
  </p>
  <p>
    Si vous n'avez pas effectué cette modification, veuillez contacter le support immédiatement
    ou réinitialiser votre mot de passe en visitant la page de connexion et en cliquant sur "Mot de passe oublié".
  </p>
  <p>
    Merci,<br>
    L'équipe Gift Moments
  </p>
</div>
