<div>
  <h1>Пароль изменен, {{name}}</h1>
  <p>
    Пароль вашей учетной записи Gift Moments был успешно изменен.
  </p>
  <p>
    Если вы не вносили это изменение, пожалуйста, немедленно свяжитесь со службой поддержки
    или сбросьте пароль, посетив страницу входа и нажав "Забыли пароль".
  </p>
  <p>
    Спасибо,<br>
    Команда Gift Moments
  </p>
</div>
