# Database Configuration - Choose MySQL or PostgreSQL
DB_TYPE=${DB_TYPE}
DB_HEALTH_CHECK=${DB_HEALTH_CHECK}
# DB_TYPE=postgresql

# Database Connection Settings for mysql
MYSQL_HOST=${MYSQL_HOST}
MYSQL_PORT=${MYSQL_PORT}
MYSQL_DATABASE=${MYSQL_DATABASE}
MYSQL_USER=${MYSQL_USER}
MYSQL_PASSWORD=${MYSQL_PASSWORD}
MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}

# PostgreSQL Database Configuration
PGSQL_HOST=${PGSQL_HOST}
PGSQL_PORT=${PGSQL_PORT}
PGSQL_DATABASE=${PGSQL_DATABASE}
PGSQL_SCHEMA=${PGSQL_SCHEMA}
PGSQL_USER=${PGSQL_USER}
PGSQL_PASSWORD=${PGSQL_PASSWORD}
PGSQL_ROOT_PASSWORD=${PGSQL_ROOT_PASSWORD}
PGSQL_SSL=${PGSQL_SSL}

# Traefik Configuration
#traefik Configuration
LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
DOMAIN=${DOMAIN}
DOMAIN_WWW=${DOMAIN_WWW}