<div>
  <h1>პაროლი შეიცვალა, {{name}}</h1>
  <p>
    თქვენი Gift Moments ანგარიშის პაროლი წარმატებით შეიცვალა.
  </p>
  <p>
    თუ არ გაგიკეთებიათ ეს ცვლილება, გთხოვთ დაუკავშირდეთ მხარდაჭერას დაუყოვნებლივ
    ან აღადგინეთ პაროლი შესვლის გვერდზე ვიზიტით და დააჭირეთ "დაგავიწყდათ პაროლი".
  </p>
  <p>
    გმადლობთ,<br>
    Gift Moments გუნდი
  </p>
</div>
