<div>
  <h1>კეთილი იყოს თქვენი მობრძანება Gift Moments-ში, {{name}}!</h1>
  <p>
    გმადლობთ რეგისტრაციისთვის. თქვენი ანგარიშის გასააქტიურებლად, გთხოვთ დააჭიროთ ქვემოთ მოცემულ ღილაკს თქვენი ელფოსტის მისამართის დასადასტურებლად:
  </p>
  <p>
    <a href="{{verificationUrl}}" style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">
      დაადასტურეთ ელფოსტის მისამართი
    </a>
  </p>
  <p>
    თუ არ შეგიქმნიათ ანგარიში, შეგიძლიათ უგულებელყოთ ეს ელფოსტა.
  </p>
  <p>
    ეს დადასტურების ბმული ვადას გაუვა 24 საათში.
  </p>
  <p>
    თუ ღილაკი არ მუშაობს, ასევე შეგიძლიათ დააკოპიროთ და ჩასვათ ეს ბმული თქვენს ბრაუზერში:
    <br>
    <a href="{{verificationUrl}}">{{verificationUrl}}</a>
  </p>
  <p>
    გმადლობთ,<br>
    Gift Moments გუნდი
  </p>
</div>
