<div>
  <h1>Contraseña Cambiada, {{name}}</h1>
  <p>
    La contraseña de tu cuenta Gift Moments ha sido cambiada exitosamente.
  </p>
  <p>
    Si no realizaste este cambio, contacta al soporte inmediatamente
    o restablece tu contraseña visitando la página de inicio de sesión y haciendo clic en "¿Olvidaste tu contraseña?".
  </p>
  <p>
    Gracias,<br>
    El Equipo de Gift Moments
  </p>
</div>
