.full-width {
    width: 100%;
    margin-bottom: 16px;
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .header-content {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .provider-icons {
        display: flex;
        align-items: center;
        gap: 8px;

        .provider-icon {
            margin: 0px 10px;
            width: 24px;
            height: 24px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: filter 0.2s ease;

            @media (prefers-color-scheme: dark) {
                filter: invert(1) brightness(0.8);
            }

            &:hover {
                filter: brightness(0.5) contrast(0.8);

                @media (prefers-color-scheme: dark) {
                    filter: invert(1) brightness(0.5) contrast(0.8);
                }
            }
        }
    }
}

mat-card-header {
    margin-bottom: 8px;
}